body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 3rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-dark {
  background-color: #3160d9;
  border-color: white;
}

.btn-dark:hover {
  background-color: rgb(16, 20, 34);
  border-color: dimgrey;
  border-width: 1px;
}

hr {
  margin: 20px auto;
  color: #3160d9;
  width: 65px;
  opacity: 1;
  border-width: 5px;
  border-style: double;
}

.buffer {
  height: 12rem;
}

.container-fluid {
display: flex;
justify-items: center;
}

.navbar-brand {
  color: white;
}

.accordion-box {
  display: flex;
  justify-content: center;
}

.accordion {
  max-width: 75%;
}

#prefooter {
  width: 80%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3160d9;
  height: 5em;
}